body {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 19px;
}

.modal {
    display: flex;
    width: 480px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.simbol {
    width: 32px;
    height: 32px;
    background-color:rgb(223, 240, 255);
    border-radius: 50%;
    color: rgb(0, 81, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
}

.cancel {
    padding:0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 205, 205);
    font-weight: 700;
    color: rgb(85, 85, 85);
    border: 1px solid grey;
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
}

.text {
    margin-bottom: 5px;
}

.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.cancel2 {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}