body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 17px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 4px 12px;
  margin: auto;
}